<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Affordable Art & Frames</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="grey lighten-4">
  <div id="header"></div>
  <div class="container">  

    <div class="section">
      <div class="row">
        <div class="col s12 m1"></div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="#framingModal">
                <img src="images/storefront2.jpg">
              </a> 
            </div>
            <div class="card-content no-pad">
              <a class="waves-effect waves-light btn fullsized grey darken-3" href="#framingModal">Framing</a>
            </div>        
          </div>
        </div>
        <div class="col s12 m1"></div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="#framingModal">
                <img src="images/printing.jpg">
              </a> 
            </div>
            <div class="card-content no-pad">
              <a class="waves-effect waves-light btn fullsized grey darken-3" href="#framingModal">Printing</a>
            </div>
          </div>     
        </div>   
        <div class="col s12 m1"></div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="#framingModal">
                <img src="images/canvas.jpg">
              </a> 
            </div>
            <div class="card-content no-pad">
              <a class="waves-effect waves-light btn fullsized grey darken-3" href="#framingModal">Canvas</a>
            </div>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col s12 m1"></div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="#framingModal">
                <img src="images/stainedglass.jpg">
              </a> 
            </div>
            <div class="card-content no-pad">
              <a class="waves-effect waves-light btn fullsized grey darken-3" href="#framingModal">Stained Glass</a>
            </div>
          </div>
        </div>        
        <div class="col s12 m1"></div>
        <div class="col s12 m3">
          <div class="card ">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="#framingModal">
                <img src="images/art.jpg">
              </a> 
            </div>
            <div class="card-content no-pad">
              <a class="waves-effect waves-light btn fullsized grey darken-3" href="#artModal">Art</a>
            </div>
          </div>
        </div>
        <div class="col s12 m1"></div>
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <a href="#framingModal">
                <img src="images/shadowbox.jpg">
              </a> 
            </div>
            <div class="card-content no-pad">
              <a class="waves-effect waves-light btn fullsized grey darken-3" href="#framingModal">Shadow Boxes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="framingModal" class="modal">     
    </div>
    <div id="printingModal" class="modal">     
    </div>
    <div id="canvasModal" class="modal">     
    </div>
    <div id="glassModal" class="modal">     
    </div>
    <div id="artModal" class="modal">     
    </div>
    <div id="shadowModal" class="modal">     
    </div>

  </div>
  <div id="footer"></div>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script> 
    $(function(){
      $("#header").load("header.html"); 
      $("#footer").load("footer.html"); 
    });
  </script>  
</body>
</html>
